In [9]:
 x=15

if x<10:
     print('One digit Number')
    
elif x<100:
      print('Two Digit Number')

Two Digit Number

In [3]:
i=1
num=int(input("Enter the range "))


for i in range(i,num):#num will not included ,loop will stop at n-1
         print(i)

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter the range  4

In [29]:
import pandas as pd
  
# initialize list elements
data = [40,30,10,20,50,60]
  
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers'])
  
# print dataframe. 

print('MIN =',df.min())
print('MAX =',df.max())
df

MIN = Numbers    10
dtype: int64
MAX = Numbers    60
dtype: int64

   Numbers
0       40
1       30
2       10
3       20
4       50
5       60

In [35]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'fff': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bbb': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'baa': [2, 3, 4, 5, 6, 7],
                   'zzz': ['h', 'i', 'j', 'k', 'l', 'm']})
print(df)
df.pivot(index='fff', columns='bbb', values='baa')

   fff bbb  baa zzz
0  one   P    2   h
1  one   Q    3   i
2  one   R    4   j
3  two   P    5   k
4  two   Q    6   l
5  two   R    7   m

bbb  P  Q  R
fff
one  2  3  4
two  5  6  7

In [34]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'fff': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bbb': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'baa': [2, 3, 4, 5, 6, 7],
                   'zzz': ['h', 'i', 'j', 'k', 'l', 'm']})
df

   fff bbb  baa zzz
0  one   P    2   h
1  one   Q    3   i
2  one   R    4   j
3  two   P    5   k
4  two   Q    6   l
5  two   R    7   m

In [36]:
import pandas as pd
# make an array
array = ["Mamoon","Gullu",
"shivangi", "priya",
"Aziz","Kainat"]

series_obj = pd.Series(array)
print("Given Series:\n", series_obj)

arr = series_obj.values
arr

Given Series:
 0      Mamoon
1       Gullu
2    shivangi
3       priya
4        Aziz
5      Kainat
dtype: object

array(['Mamoon', 'Gullu', 'shivangi', 'priya', 'Aziz', 'Kainat'],
      dtype=object)

In [40]:
import pandas as pd

df = pd.DataFrame({'Name': ['Barry', 'Kara', 'Diana', 'Ivy', 'Jenny', 'Bruce'],
'Gender': ['Male', 'Female', 'Female','Female', 'Female', 'Male'],
'Age': [45, 6, 4, 36, 12, 43]})
print("Dataset")
print(df)
print("-"*40)


def age_bucket(age):
  if (age <= 18):
   return "<18"
  else:
   return ">18"
df['Age Group'] = df['Age'].apply(age_bucket)


gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender', '%Gender']
df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])

table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
values=['Name'], aggfunc={'Name': 'count',})

print("Table")
print(table)

Dataset
    Name  Gender  Age
0  Barry    Male   45
1   Kara  Female    6
2  Diana  Female    4
3    Ivy  Female   36
4  Jenny  Female   12
5  Bruce    Male   43
----------------------------------------
Table
                            Name
Gender %Gender   Age Group
Female 66.666667 <18           3
                 >18           1
Male   33.333333 >18           2